@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto',sans-serif;
	line-height: 1.4;
}

a {
	text-decoration: none;
}

.l-heading {
	font-size: 4em;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.m-heading {
	font-size: 2em;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.lead {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.btn{
	display: inline-block;
	color: #fff;
	background: #93cb52;
	padding: 0.5rem 2rem;
	border:none;
	border-radius: 5px;
}

.py-1 {
	padding: 1.5rem 0;
}

.py-2 {
	padding: 2rem 0;
}

.py-3 {
	padding: 3rem 0;
}

.p-1 {
	padding: 1.5rem ;
}

.p-2 {
	padding: 2rem ;
}

.p-3 {
	padding: 3rem ;
}

.btn:hover{
	background: #7ab436;
}

.btn-dark{
	background: #333;
	color: #fff;
}

.list {
	margin: 0.5rem 0;
	list-style: none;
}

.list li {
	padding: 0.5rem 0;
	border-bottom: #444 dotted 1px;
}

.container{
	max-width: 1100px;
	margin:auto;
	padding: 0 2rem;
	overflow: hidden;
}



#navbar{
	display: flex;
	position: sticky;
	top:0;
	background:rgb(255, 255, 255);
	color: #fff;
	justify-content: space-between;
	z-index: 1;
	padding: 0.2rem;
	border-bottom: 1px solid #ccc;
}

#navbar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar ul li a {
	color: #fff;
	padding: 0.4rem;
	margin: 0 0.25rem;
}

#navbar ul li a:hover {
	background: #706f6f;
}






#sampleName {
	font-size: 1.2em;
	color: #3C5A91;
	font-weight: bolder;
}

#siteName {
	font-size: 1.2em;
	color: #5a5a5a;
	font-weight: bolder;
}


@media(max-width: 732px)
{
	#containerSlider img
	{
		height: 12em;
	}
}
@media(max-width: 500px)
{
	#containerSlider img
	{
		height: 10em;
	}
}


  .row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  }

  .card {
	  width: 20%;
	  background: #fff;
	  border: 1px solid #ccc;
	  margin-bottom: 50px;
	  transition: 0.3s;
	  margin: 0 auto; /* Added card center */
	  float: none; /* Added card center */
	  margin-bottom: 10px; /* Added card center */
  }

  .card-body {
	  padding: 30px 20px;
	  text-align: center;
	  font-size: 18px;
  }

  .card-body .btn {
	  display: block;
	  color: #fff;
	  text-align: center;
	  background-color: blueviolet;
  }

  /* Responsive for flexbox */
  @media screen and (max-width:1000px) {
	  .card {
		  width: 40%;
	  }
  }

  @media screen and (max-width:620px) {

	.row {
		display: block;
		flex-direction: row;
		justify-content: center;
	}

	.container{
		width: 100%;
	}
	
	.card {
		width: 80%;
	}

  }

  #copy-right {
	  color: #bebebe;
	  font-weight: bold;
  }

  #button > button, p {
	display: inline-block;
  }

  .button {
	background-color: #0078FF;
	border: none;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
  }

  .button:hover {
	background-color: #50B4FF;

  }



  #title-body-card {
	color: #0078FF;
	font-size: 1.2rem;
	font-weight: bold;
	margin-left:-35px;
	float: left;
}
 
#price-product-card {
	font-size: 0.9rem;
	font-weight: bold;
	margin-left:-75px;
	float: left;
	display: inline;
}

.inline-btn {
	display: flex;
}


#btn-order {
	float: right;
	margin-right: 180%;
}




  @media(max-width: 500px){
	#navbar{
		flex-direction: column;
		align-items: center;
	}
	#navbar .logo{
		margin-bottom: 0.5rem;
		text-align: center;
	}

	#navbar ul {
		padding: 0.5rem;
	}
}



/* Modal  */
.main{
	width: 100%;
	height: 100vh;
	text-align: center;
  }
  
  .main div{
	width: 400px;
	height: 400px;
	margin:0 auto;
	text-align: center;
  
  }
  .main div button{
	top: 500px;
	height: 30px;
	margin: 0 auto;
  }
  
  
  .container{
	display: none;
	width: 100%;
	height: 100vh;
	position: fixed;
	opacity: 0.9;
	background: #222;
	z-index: 40000;
	top:0;
	left: 0;
	overflow: hidden;
	animation-name: fadeIn_Container;
	animation-duration: 1s;
	
  }
  
  
  .header{
	width: 100%;
	height: 70px;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 2px solid #ccc;
  }
  
  .header a{
	text-decoration: none;
	float: right;
	line-height: 70px;
	margin-right: 20px;
	color: #aaa;
  }
  
  .content{
	width: 100%;
	height: 250px;
  }
  
  form{
	  margin-top: 20px;
  }
  
  form label{
	display: block;
	margin-left: 12%;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 1rem;
  }
  
  form input{
	display: block;
	width: 75%;
	margin-left: 12%;
	margin-top: 10px;
	border-radius: 3px;
	font-family: sans-serif;
  }
  
  #first_label{
	padding-top: 30px;
  }
  
  #second_label{
	padding-top: 25px;
  }
  
  
  .footer{
	width: 100%;
	height: 80px;
	border-radius: 0px 0px 10px 10px;
	border-top: 2px solid #ccc;
  }
  
  /* .fotter button{
	float: right;
	margin-right: 10px;
	margin-top: 18px;
	text-decoration: none; 
  }
   */
  /****MEDIA QUERIES****/
  
  @media screen and (min-width: 600px){
  
	.modal{
	  width: 500px;
	  height: 300px;
	  margin-left: calc(50vw - 250px);
	  margin-top: calc(50vh - 150px);
	}
  
  
	.header{
	  width: 100%;
	  height: 40px;
	}
  
	.header a{
	  line-height: 40px;
	  margin-right: 10px;
	}
  
	.content{
	  width: 100%;
	  height: 190px;
	}
  
	form label{
	  margin-left: 10%;
	  margin-top: 10px;
	}
  
	form input{
	  width: 75%;
	  margin-left: 10%;
	  margin-top: 10px;
	}
  
	#first_label{
	padding-top: 0px;
	}
  
	#second_label{
	  padding-top: 0px;
	}
  
	.footer{
	  width: 100%;
	  height: 70px;   
	}
  
	.footer button{
	  float: right;
	  /* margin-right: 10px;
	  margin-top: 10px; */
	}
  
  }
  
  /*LARGE SCREEN*/
  @media screen and (min-width: 1300px){
  
  }
  
  /****ANIMATIONS****/
  
  @keyframes fadeIn_Modal {
	from{
	  opacity: 0;
	}
	to{
	  opacity: 1;
	}
  }
  
  @keyframes fadeIn_Container {
	from{
	  opacity: 0;
	}
	to{
	  opacity: 0.9;
	}
  }


  #btn-cancel {
	background-color: #CD1039;
	border: none;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
  }

  #btn-cancel:hover {
	background-color: #FF7493;
  }
  

  
  /* carousel only without bootstrap */
  
.document-center {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /*We do this because the carousel needs to be 100% width 
  in order for the aspect ratio trick to work*/
  .carousel-container {
	max-width: 980px;
	width: 95%;
  }
  
  /*This is the actual carousel. Overflow hidden acts as a mask*/
  
  .carousel {
	position: relative;
	width: 100%;
	/*Width of image is 980px. Height is 570px.*/
	padding-top: calc(570 / 980 * 100%);
	overflow: hidden;
  }
  
  .carousel-container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
  }
  
  .left-arrow {
	background-color: #FF9100;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	width: 2rem;
	left:3.1%;
	top: 30%;
	margin-left:-30px;
	margin-top: -30px;
	cursor: pointer;
  }
  
  .left-arrow:hover {
	background: #FFB900;
  }
  
  .left-arrow:hover .chevron,
  .right-arrow:hover .chevron {
	border-color: #e6e6e6;
  }
  
  .right-arrow {
	background-color: #FF9100;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	left:99.5%;
	top: 30%;
	margin-left:-30px;
	margin-top: -30px;
	height: 2rem;
	width: 2rem;
	cursor: pointer;
  }
  
  .right-arrow:hover {
	background: #FFB900;
  }
  
  .chevron {
	position: absolute;
	width: 0.8rem;
	height: 0.8rem;
	border: solid rgba(255, 255, 255, 0.5);
	border-width: 4.5px 4.5px 0 0;
  }
  
  .chevron.right {
	transform: rotate(45deg);
  }
  
  .chevron.left {
	transform: rotate(-135deg);
  }
  
  .circle-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: start;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 45px;
  }
  
  .circle {
	border: 1px solid white;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
  }
  
  .circle-fill {
	background-color: white;
  }

  #image-carousel {
	width: 40%;
	height: 60%;
	left: 55%;
	top:-2%;
  }
  
  .text-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	top: 0;
	left:-30%;
	top: 10%;
	width: 100%;
	color: white;
	text-align: center;
  }
  
  .text-container p:nth-child(1) {
	font-size: 2rem;
  }
  
  .text-container p:nth-child(2) {
	font-size: 1.8rem;
  }
  
  .carousel-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }

  
  @media screen and (max-width:620px) {
	
	.chevron {
		position: absolute;
		width: 0.5rem;
		height: 0.5rem;
		border: solid rgba(255, 255, 255, 0.5);
		border-width: 2.5px 2.5px 0 0;
	  }

	  .left-arrow {
		background-color: #FF9100;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2rem;
		width: 2rem;
		left:6%;
		top: 30%;
		margin-left:-30px;
		margin-top: -30px;
		cursor: pointer;
	  }
	  
	  .left-arrow:hover {
		background: #FFB900;
	  }

	  .right-arrow {
		background-color: #FF9100;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		left:99%;
		top: 30%;
		margin-left:-30px;
		margin-top: -30px;
		height: 2rem;
		width: 2rem;
		cursor: pointer;
	  }
	  
	  .right-arrow:hover {
		background: #FFB900;
	  }

	  .text-container {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		top: 0;
		left:-30%;
		top: 10%;
		width: 100%;
		color: white;
		text-align: center;
	  }
	  
	  .text-container p:nth-child(1) {
		font-size: 1rem;
	  }
	  
	  .text-container p:nth-child(2) {
		font-size: 0.8rem;
	  }
  }
  
  @media screen and (max-width:396px) {
	
	.chevron {
		position: absolute;
		width: 0.5rem;
		height: 0.5rem;
		border: solid rgba(255, 255, 255, 0.5);
		border-width: 2.5px 2.5px 0 0;
	  }

	  .left-arrow {
		background-color: #FF9100;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1rem;
		width: 1rem;
		left:8%;
		top: 38%;
		margin-left:-30px;
		margin-top: -30px;
		cursor: pointer;
	  }
	  
	  .left-arrow:hover {
		background: #FFB900;
	  }

	  .right-arrow {
		background-color: #FF9100;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		right: 0;
		left:104%;
		top: 38%;
		margin-left:-30px;
		margin-top: -30px;
		height: 1rem;
		width: 1rem;
		cursor: pointer;
	  }
	  
	  .right-arrow:hover {
		background: #FFB900;
	  }
  }

  
  /* Animations */
  @keyframes toRight {
	0% {
	  left: 0;
	}
	100% {
	  left: 100%;
	}
  }
  
  @keyframes toLeft {
	0% {
	  left: 0;
	}
	100% {
	  left: -100%;
	}
  }
  
  @keyframes comeRight {
	0% {
	  left: 100%;
	}
	100% {
	  left: 0;
	}
  }
  
  @keyframes comeLeft {
	0% {
	  left: -100%;
	}
	100% {
	  left: 0;
	}
  }
  


  /* flex row items */
  /*PRODUCT*/
.flexprodContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin: auto;
}

.card {
	width: 252px;
	padding: 0px 30px 20px 30px;
}

#img-product-list {
	width: 100%;
	height: 100%;

}

/*MODAL CART*/
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; /*Sit on top*/
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
  }
  
  
  .modalContent {
	background-color: #969696;
	padding: 20px;
	width: 50%; 
	max-height: 500px;
	overflow-y: auto; 
	overflow-x: hidden;
	border-radius: 0.5rem;
  }
  
  .btnRemove {
	  font-size: 1em;
	  background-color: #E94639; 
	  border: none;
	  color: white;
	  padding: 15px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 0.8rem;
	  margin: 0px;
	  cursor: pointer;
	  font-family: "Ubuntu", sans-serif;
	  outline: none;
  }

  
  .btnRemove:hover {
	background-color: #FF5A5A; 
}

  
  

  .buttonAddToCart {
	background-color: #0078FF; /*blue*/
	border-radius: 4px;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	/* display: inline-block; */
	font-size: 0.8rem;
	margin: 20px;
	float: right;
	cursor: pointer;
	font-family: "Ubuntu", sans-serif;
	outline: none;
  }

    
  .buttonAddToCart:hover {
	background-color: #148CFF; 
}

  
  
  /*MODAL CLOSE BUTTON*/
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #D69C4E;
	text-decoration: none;
	cursor: pointer;
  }
  
  
  
  /*MODAL CART ADD ROW*/
  .cartRow {
	  display: grid;
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-gap: 20px;
	  width: 500px;
	  /* margin-left: 20px; */
	  padding: 10px;
  }
  
  .cartTitleDescPrice {
	  font-size: 0.7em;
	  color: #000000; /*yellow*/
  }
  
  .cartItemImg {
	  width: 100%;
	  border-radius: 20px;
  }

  
  .price {
	color: #000000;
	font-weight: bold;
}

.name{
	font-size: 1em;
	font-weight: bold;
	padding: 5px 0px 3px 0px;
}

@media screen and (max-width:920px) {
	/*MODAL CART MOBILE*/
	.modal {
		display: none; 
		position: fixed; 
		z-index: 1; /*Sit on top*/
		left: 0;
		top: 0;
		width: 140%; 
		height: 100%; 
		overflow-x: scroll;
	}
	.modalContent {
		background-color: #969696;
		padding: 20px;
		width: 50%; 
		max-height: 500px;
		overflow-y: auto; 
		overflow-x: scroll;
		border-radius: 0.5rem;
	  }
}

@media screen and (max-width:660px) {
	/*MODAL CART MOBILE*/
	.modal {
		display: none; 
		position: fixed; 
		z-index: 1; /*Sit on top*/
		left: 0;
		top: 0;
		width: 150%; 
		height: 100%; 
		overflow-x: scroll;
	}
	.modalContent {
		background-color: #969696;
		padding: 20px;
		width: 50%; 
		max-height: 500px;
		overflow-y: auto; 
		overflow-x: scroll;
		border-radius: 0.5rem;
	  }
}

@media screen and (max-width:598px) {
	/*MODAL CART MOBILE*/
	.modal {
		display: none; 
		position: fixed; 
		z-index: 1; /*Sit on top*/
		left: 0;
		top: 0;
		width: 180%; 
		height: 100%; 
	
	}

	.modalContent {
		background-color: #969696;
		padding: 20px;
		width: 50%; 
		max-height: 500px;
		overflow-y: auto; 
		overflow-x: scroll;
		border-radius: 0.5rem;
	  }
}

@media screen and (max-width:398px) {
	/*MODAL CART MOBILE*/
	.modal {
		display: none; 
		position: fixed; 
		z-index: 1; /*Sit on top*/
		left: 0;
		top: 0;
		width: 180%; 
		height: 100%; 
	
	}

	.modalContent {
		background-color: #969696;
		padding: 20px;
		width: 50%; 
		max-height: 500px;
		overflow-y: auto; 
		overflow-x: scroll;
		border-radius: 0.5rem;
	  }
}

